label {
    display: inline-block;
}

span {
    display: inline-block;
}

.container {
    padding: 5px;
    width: fit-content;
}

div.container > * {
    display: block;
    margin: 1em 0 0 0;
}

.component-input {
    width: 3em;
}

.rgb-input > div {
    display: inline-block;
}

.rgb-input > div > label {
    display: block;
    margin-left: 1.2em;
    margin-bottom: 5px;
}